@function vw-calc-pc($px, $viewport:1920){  
    $vwSize : $px / ($viewport/100);
    @return #{$vwSize}vw;
}

@function vw-calc-tablet($px, $viewport:1200){
    $vwSize : $px / ($viewport / 100);
    @return #{$vwSize}vw;
}

@function vw-calc-mobile($px, $viewport:360){
    $vwSize : $px / ($viewport / 100);
    @return #{$vwSize}vw;
}


    