.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 900; }
  .header .logo a span, .header .util li a {
    font-weight: 500; }
  .header .logo {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 500; }
    .header .logo a {
      display: block;
      width: 120px; }
      .header .logo a img {
        width: 60px;
        height: 40px; }
      .header .logo a span {
        display: inline-block;
        padding-top: 15px; }
  .header .util {
    position: absolute;
    top: 30px;
    right: 80px;
    z-index: 500; }
    .header .util ul li {
      float: left; }
      .header .util ul li + li {
        margin-left: 25px;
        font-size: 14px; }

.header.on {
  background: #060415; }

#pcHeader {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #pcHeader #pcGnb {
    text-align: center;
    padding-top: 30px;
    width: 100%; }
    #pcHeader #pcGnb a {
      display: block;
      position: relative; }
    #pcHeader #pcGnb > ul {
      position: relative;
      z-index: 100;
      font-size: 0;
      width: 540px;
      margin: 0 auto; }
      #pcHeader #pcGnb > ul > li {
        display: inline-block;
        padding-right: 60px;
        position: relative;
        padding-bottom: 62px; }
        #pcHeader #pcGnb > ul > li > a {
          font-size: 18px;
          font-weight: 500;
          width: 120px; }
    #pcHeader #pcGnb .dep2 {
      position: absolute;
      top: 80px;
      left: 10px;
      width: 80%;
      height: 205px;
      z-index: 60;
      padding: 30px 20px;
      border-left: 2px solid #531984;
      font-size: 16px; }
      #pcHeader #pcGnb .dep2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 2px;
        background: #531984; }
      #pcHeader #pcGnb .dep2 > li {
        margin-bottom: 25px; }
        #pcHeader #pcGnb .dep2 > li > a {
          text-align: left; }
      #pcHeader #pcGnb .dep2.w150 {
        width: 160%; }
        #pcHeader #pcGnb .dep2.w150 li {
          width: 30%; }
        #pcHeader #pcGnb .dep2.w150 li:nth-of-type(7) {
          position: absolute;
          top: 30px;
          left: 130px; }
        #pcHeader #pcGnb .dep2.w150 li:nth-of-type(8) {
          position: absolute;
          top: 70px;
          left: 130px; }
    #pcHeader #pcGnb .dep2_bg {
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 50;
      width: 100%;
      opacity: 0.95;
      height: 319px;
      background: url("../images/layout/menu_open_bg.png") no-repeat center/cover; }
      #pcHeader #pcGnb .dep2_bg .dep1_txt {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 45%;
        left: 13.75vw; }
        #pcHeader #pcGnb .dep2_bg .dep1_txt img {
          float: left;
          width: 2.8645833333vw;
          height: 2.6041666667vw; }
        #pcHeader #pcGnb .dep2_bg .dep1_txt p {
          float: left;
          font-weight: 700;
          font-size: 2.0833333333vw;
          padding-top: 10px;
          letter-spacing: -1.3px; }

#mHeader {
  display: none; }

#footer {
  height: 37vh !important;
  background: #15161a;
  position: relative;
  z-index: 100;
  color: #a199b0;
  padding-left: 300px;
  font-weight: 300;
  font-size: 14px; }
  #footer::after {
    content: "";
    display: block;
    clear: both; }
  #footer .footer_logo {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 699px;
    height: 144px;
    background: url("../images/layout/ftlogo_bg.png") no-repeat center;
    position: relative;
    top: -80px;
    padding: 50px 0 0 300px;
    margin-left: -300px; }
    #footer .footer_logo img {
      width: 58px; }
    #footer .footer_logo span {
      display: inline-block;
      padding-top: 8px;
      color: #9c80b6;
      font-size: 30px;
      font-weight: 600;
      font-style: italic; }
  #footer .info, #footer .footer_right {
    float: left;
    position: relative;
    top: -40px; }
  #footer .info {
    margin-right: 150px; }
    #footer .info ul li {
      margin-bottom: 20px; }
      #footer .info ul li span {
        display: inline-block;
        margin-right: 20px;
        position: relative; }
        #footer .info ul li span:nth-of-type(2)::before {
          content: "";
          position: absolute;
          left: -12px;
          top: 2px;
          width: 1px;
          height: 13px;
          background: #a199b0; }
    #footer .info p {
      margin-top: 60px; }
  #footer .footer_right {
    width: 650px; }
    #footer .footer_right .footer_list {
      margin-bottom: 90px; }
      #footer .footer_right .footer_list > li {
        float: left;
        margin-right: 45px; }
        #footer .footer_right .footer_list > li:nth-of-type(n+6) {
          margin-top: 20px; }
    #footer .footer_right .family {
      line-height: 33px;
      color: #333; }
      #footer .footer_right .family > * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #989898;
        padding-left: 10px; }
      #footer .footer_right .family > a {
        height: 35px;
        float: left; }
      #footer .footer_right .family .fsite, #footer .footer_right .family ul {
        width: 150px; }
      #footer .footer_right .family .fsite {
        background: #fff;
        font-weight: 700;
        border-top: none;
        position: relative; }
        #footer .footer_right .family .fsite::before {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          right: 10px;
          top: 50%;
          width: 11px;
          height: 7px;
          background: url("../images/layout/arr_family.gif") no-repeat; }
      #footer .footer_right .family.on .fsite::before {
        -webkit-transform: rotate(180deg) translateY(5px);
        -moz-transform: rotate(180deg) translateY(5px);
        -o-transform: rotate(180deg) translateY(5px);
        -ms-transform: rotate(180deg) translateY(5px);
        transform: rotate(180deg) translateY(5px); }
      #footer .footer_right .family ul {
        position: absolute;
        bottom: 36px;
        left: 0;
        padding: 13px 10px 9px;
        border-bottom: none;
        background: #fff;
        display: none; }
        #footer .footer_right .family ul li a {
          font-weight: 500; }
          #footer .footer_right .family ul li a:hover {
            color: #531984; }
      #footer .footer_right .family .f_go {
        padding-right: 12px;
        background: #43366d;
        color: #ffffff;
        margin-left: 5px;
        font-size: 12px; }

@media screen and (max-width: 1366px) {
  #pcHeader {
    display: none; }

  #mHeader {
    display: block; }
    #mHeader .logo {
      position: absolute;
      top: 20px;
      left: 60px;
      z-index: 10; }
      #mHeader .logo a {
        display: block;
        width: 120px; }
        #mHeader .logo a img {
          width: 45px; }
        #mHeader .logo a span {
          display: inline-block;
          padding-top: 15px; }
    #mHeader .gnb_open_btn {
      position: absolute;
      top: 20px;
      right: 40px;
      width: 32px;
      height: 30px;
      background: url("../images/layout/m_menuBtn.png") no-repeat center; }
    #mHeader .util {
      position: absolute;
      top: 30px;
      right: 110px; }
      #mHeader .util ul li {
        float: left; }
        #mHeader .util ul li + li {
          margin-left: 25px;
          font-size: 18px; }
    #mHeader .menubar, #mHeader #dim {
      position: fixed;
      z-index: 900;
      top: 0;
      height: 100vh; }
    #mHeader .menubar {
      display: none;
      right: 0;
      width: 75%;
      color: #000;
      background: linear-gradient(90deg, #fff 55%, #e7dcf0 45%); }
      #mHeader .menubar .menu_left {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 55%;
        height: 100%;
        text-align: right;
        padding: 20px 40px 0 50px; }
        #mHeader .menubar .menu_left .call strong {
          font-size: 20px; }
        #mHeader .menubar .menu_left .call p {
          font-size: 30px;
          font-weight: 700;
          margin: 10px 0 15px; }
        #mHeader .menubar .menu_left .call .m_counsel {
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          margin-left: 15px;
          display: inline-block;
          width: 135px;
          height: 45px;
          text-align: center;
          line-height: 45px;
          background: #43366d;
          color: #fff;
          margin-bottom: 70px; }
        #mHeader .menubar .menu_left #mGnb a {
          display: inline-block; }
        #mHeader .menubar .menu_left #mGnb > ul > li {
          position: relative;
          margin-bottom: 50px; }
          #mHeader .menubar .menu_left #mGnb > ul > li.on a::before {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
          #mHeader .menubar .menu_left #mGnb > ul > li > a {
            font-size: 45px;
            font-weight: 800;
            position: relative; }
            #mHeader .menubar .menu_left #mGnb > ul > li > a::before {
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -o-transform: scale(0);
              -ms-transform: scale(0);
              transform: scale(0);
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
              content: "";
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 100%;
              height: 2px;
              background: #000; }
          #mHeader .menubar .menu_left #mGnb > ul > li > .dep2 {
            position: absolute;
            top: 15px;
            left: 450px;
            width: 155px;
            text-align: left;
            display: none; }
            #mHeader .menubar .menu_left #mGnb > ul > li > .dep2 > li {
              margin-bottom: 22px; }
              #mHeader .menubar .menu_left #mGnb > ul > li > .dep2 > li > a {
                font-size: 18px;
                font-weight: 600; }
      #mHeader .menubar .gnb_close_btn {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        position: absolute;
        top: 20px;
        right: 40px;
        width: 28px;
        height: 28px;
        background: url("../images/layout/m_close_menu.svg") no-repeat center; }
    #mHeader #dim {
      display: none;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6); } }

/*# sourceMappingURL=layout.css.map */
