@charset "utf-8";
@import "_var","_mixin","_function";

// pc와 모바일 공통 header스타일 
.header{
    .logo a span, .util li a{font-weight: 500;}
    position: fixed;top: 0;left: 0;width: 100%;height: 80px;z-index: 900;
    .logo{
        position: absolute;top: 20px;left: 100px;z-index: 10;
        a{
            display: block;width: 120px;
            img{width: 60px;height: 40px;}
            span{display: inline-block;padding-top: 15px;}
        }
    }
    .util{
        position: absolute;top: 30px;right: 80px;
        ul li{
            float: left;
            +li{margin-left: 25px;font-size: 14px;}
        }
    }
}
 
#pcHeader{
    @include transition(all .3s);
    #gnb{text-align: center;padding-top: 30px;width: 100%;
        a{display: block;}
        >ul{
            >li{ 
                display: inline-block;margin-right: 60px;position: relative;
                >a{font-size: 18px;font-weight: 500;width: 120px;}
              }
        }
        .dep2{
            position: absolute;top: 80px;left: 10px;width: 80%;height: 205px;z-index: 60;padding: 30px 20px;
            border-top: 2px solid #531984;border-left: 2px solid #531984;
            >li{
                margin-bottom: 25px;width: 140%;
                >a{text-align: left;}
            }
        &.w150{
            width: 160%;
            li{width: 45%;}
            li:nth-of-type(7){position: absolute;top: 30px;left: 130px;}
            li:nth-of-type(8){position: absolute;top: 70px;left: 130px;}
        }
    }
        
        .dep2_bg{
            position: absolute;top: 80px;left:0;z-index: 50;width: 100%;opacity: 0.95;height:319px;background: url("../images/layout/menu_open_bg.png") no-repeat center / cover;
            .dep1_txt{
                @include translateY-50;
                position: absolute;top: 45%;left: 13.75vw;
                img{float: left;width:vw-calc-pc(55);height:vw-calc-pc(50);}
                p{float: left;font-weight: 700;font-size: vw-calc-pc(40);padding-top: 10px;letter-spacing: -1.3px;}
            }
        }  
    }
}
#pcHeader.on{
    background: #060415;
}

#mHeader{
 display: none;
}

#footer{
    height: 37vh;background: #15161a;position: relative;z-index: 100;color: #a199b0;
    padding-left: 300px;font-weight: 300;font-size: 14px;

    &::after{content:"";display: block;clear: both;}
    .footer_logo{
        @include bgsize(cover);@include borderbox;
        width: 699px;height: 144px;background:url("../images/layout/ftlogo_bg.png")no-repeat center;position: relative;top: -80px;padding: 50px 0 0 300px;margin-left: -300px;
        img{width: 58px;}
        span{display: inline-block;padding-top: 8px;color: #9c80b6;
            font-size: 30px;font-weight: 600;font-style: italic;}
    }
    .info,.footer_right{float: left; position: relative;top: -40px;}
    .info{
        margin-right: 150px;
        ul li{
            margin-bottom: 20px;
            span{
                display: inline-block;margin-right: 20px;position: relative;
                &:nth-of-type(2)::before{content:"";position: absolute;left: -12px;top: 2px;width: 1px;height: 13px;background: #a199b0;}
            }
        }
        p{margin-top: 60px;}
    }
    .footer_right{
        width: 650px;
        .footer_list{
            margin-bottom: 90px;
            >li{
                float: left;margin-right: 45px;
                &:nth-of-type(n+6){margin-top: 20px;}
            }
        }
        .family{
            ul{display: none;}
        }
    }
    

}

@media screen and (max-width:1200px){
    #pcHeader{display: none;}
    #mHeader{
        display: block;
        .logo{
            position: absolute;top: 20px;left: 60px;z-index: 10;
            a{
                display: block;width: 120px;
                img{width: 45px;}
                span{display: inline-block;padding-top: 15px;}
            }
        }
        button{
            position: absolute;top: 20px;right: 40px;width: 32px;height: 30px;background: url("../images/layout/m_menuBtn.png") no-repeat center;
        }
        .util{
            position: absolute;top: 30px;right: 110px;
            ul li{
                float: left;
                +li{margin-left: 25px;font-size: 18px;}
            }
        }
    }

}