@charset "utf-8";
@import "_var","_mixin","_function";

// pc와 모바일 공통 header스타일 
.header{
    .logo a span, .util li a{font-weight: 500;}
    position: fixed;top: 0;left: 0;width: 100%;height: 80px;z-index: 900;
    .logo{
        position: absolute;top: 20px;left: 100px;z-index: 500;
        a{
            display: block;width: 120px;
            img{width: 60px;height: 40px;}
            span{display: inline-block;padding-top: 15px;}
        }
    }
    .util{
        position: absolute;top: 30px;right: 80px;z-index: 500;
        ul li{
            float: left;
            +li{margin-left: 25px;font-size: 14px;}
        }
    }
}
.header.on{
    background: #060415;
}
 
#pcHeader{
    @include transition(all .3s);
    #pcGnb{text-align: center;padding-top: 30px;width: 100%;
        a{display: block;position: relative;}
        >ul{
            position: relative;z-index: 100;font-size: 0;width: 540px;margin: 0 auto;
            >li{ 
                display: inline-block;padding-right: 60px;position: relative;padding-bottom: 62px;
                >a{font-size: 18px;font-weight: 500;width: 120px;}
              }
        }
        .dep2{
            position: absolute;top: 80px;left: 10px;width: 80%;height: 205px;z-index: 60;padding: 30px 20px;
           border-left: 2px solid #531984;font-size: 16px;
           &::before{content: "";position: absolute;top: 0;left: 0;width: 80%;height: 2px;background:#531984;}
            >li{
                margin-bottom: 25px;
                >a{text-align: left;}
            }
        &.w150{
            width: 160%;
            li{width: 30%;}
            li:nth-of-type(7){position: absolute;top: 30px;left: 130px;}
            li:nth-of-type(8){position: absolute;top: 70px;left: 130px;}
        }
    }
        
        .dep2_bg{
            position: absolute;top: 80px;left:0;z-index: 50;width: 100%;opacity: 0.95;height:319px;background: url("../images/layout/menu_open_bg.png") no-repeat center / cover;
            .dep1_txt{
                @include translateY-50;
                position: absolute;top: 45%;left: 13.75vw;
                img{float: left;width:vw-calc-pc(55);height:vw-calc-pc(50);}
                p{float: left;font-weight: 700;font-size: vw-calc-pc(40);padding-top: 10px;letter-spacing: -1.3px;}
            }
        }  
    }
}

#mHeader{
 display: none;
}

#footer{
    height: 37vh;background: #15161a;position: relative;z-index: 100;color: #a199b0;
    padding-left: 300px;font-weight: 300;font-size: 14px;

    &::after{content:"";display: block;clear: both;}
    .footer_logo{
        @include bgsize(cover);@include borderbox;
        width: 699px;height: 144px;background:url("../images/layout/ftlogo_bg.png")no-repeat center;position: relative;top: -80px;padding: 50px 0 0 300px;margin-left: -300px;
        img{width: 58px;}
        span{display: inline-block;padding-top: 8px;color: #9c80b6;
            font-size: 30px;font-weight: 600;font-style: italic;}
    }
    .info,.footer_right{float: left; position: relative;top: -40px;}
    .info{
        margin-right: 150px;
        ul li{
            margin-bottom: 20px;
            span{
                display: inline-block;margin-right: 20px;position: relative;
                &:nth-of-type(2)::before{content:"";position: absolute;left: -12px;top: 2px;width: 1px;height: 13px;background: #a199b0;}
            }
        }
        p{margin-top: 60px;}
    }
    .footer_right{
        width: 650px;
        .footer_list{
            margin-bottom: 90px;
            >li{
                float: left;margin-right: 45px;
                &:nth-of-type(n+6){margin-top: 20px;}
            }
        }
        .family{
            line-height:33px;color: #333;
            >*{
                @include borderbox;
                border: 1px solid #989898;padding-left: 10px;
            }
            >a{height: 35px;float: left;}
            .fsite, ul {width: 150px;}
            .fsite{
                background:#fff;font-weight: 700;border-top:none;position: relative;
                &::before{
                    @include translateY-50;
                    content:"";position: absolute;right: 10px;top: 50%;width: 11px;height: 7px;background:url("../images/layout/arr_family.gif") no-repeat;
                }
            }
            &.on .fsite::before{
                @include transform(rotate(180deg) translateY(5px));
            }
            ul{
                position: absolute;bottom: 36px;left: 0;padding: 13px 10px 9px;border-bottom: none;background: #fff;display: none;
                li a{
                    font-weight: 500;
                    &:hover{color: #531984;}
                }
            }
            .f_go{padding-right: 12px;background:$purple;color: #ffffff;margin-left:5px;font-size: 12px;}
        }

    }
}

@media screen and (max-width:1366px){
    #pcHeader{display: none;}
    #mHeader{
        display: block;
        .logo{
            position: absolute;top: 20px;left: 60px;z-index: 10;
            a{
                display: block;width: 120px;
                img{width: 45px;}
                span{display: inline-block;padding-top: 15px;}
            }
        }
        .gnb_open_btn{
            position: absolute;top: 20px;right: 40px;width: 32px;height: 30px;background: url("../images/layout/m_menuBtn.png") no-repeat center;
        }
        .util{
            position: absolute;top: 30px;right: 110px;
            ul li{
                float: left;
                +li{margin-left: 25px;font-size: 18px;}
            }
        }
        .menubar, #dim{position: fixed;z-index: 900;top: 0;height: 100vh;}
        .menubar{
            display: none;
            right: 0;width: 75%;color: #000;
            background: linear-gradient(90deg, #fff 55%, #e7dcf0 45%);
            .menu_left{
                @include borderbox;
                width: 55%;height: 100%;text-align:right;padding: 20px 40px 0 50px;
                .call{
                    strong{font-size: 20px;}
                    p{font-size: 30px;font-weight:700;margin: 10px 0 15px;}
                    .m_counsel{
                        @include radius(8px);margin-left: 15px;
                        display: inline-block;width: 135px;height: 45px;text-align: center;line-height: 45px;background: #43366d;color: #fff;margin-bottom: 70px;
                    } 
                }
                #mGnb{
                    a{display: inline-block;}
                    >ul>li{
                        position: relative;margin-bottom: 50px;
                        &.on a::before{
                            @include transform(scale(1));
                        }
                        >a{
                            font-size: 45px;font-weight: 800;position: relative;
                            &::before{
                                @include transform(scale(0));@include transition(all .3s);
                                content:"";position: absolute;bottom: -3px;left: 0;width: 100%;height: 2px;background: #000;
                            }
                        }
                        >.dep2{
                            position: absolute;top: 15px;left: 450px;width: 155px;text-align: left;display: none;
                            >li{
                                margin-bottom: 22px;
                                >a{font-size: 18px;font-weight: 600;}
                            }
                        }
                    }
                }
            }
            .gnb_close_btn{
                @include bgsize(cover);
                position: absolute;top: 20px;right: 40px;width: 28px;height: 28px;background: url("../images/layout/m_close_menu.svg") no-repeat center;
            }
        }
        #dim{display: none;left: 0;width: 100%;background: rgba(0,0,0,.6);}

    }

}

@media screen and (max-width: 768px){
    

}