@charset "utf-8";
@import "_var","_mixin","_function";

// index공통
.scroll_btn{
    position: absolute;bottom: 40px;right: 80px;z-index: 100;width: 72px;height: 80px;
    background:url("../images/main/scroll_down.png");
    img{position: absolute;top: calc(45% - 14px);left:calc(45% - 7px);}
}
html, body, #content {
    width: 100%;height: 100%;overflow: hidden; 
}
#content {position: relative;z-index: 100;}
#content .tg {
    @include transition(top 0.5s);
    position: relative;width: 100%;height: 100vh;overflow: hidden; 
}

#cnt1{
    height: 100vh !important;position: relative;z-index: 100;overflow: hidden;
    .swiper-wrapper{
        
        .swiper-slide{
            width: 100%;height: 100vh;
            .slide_bg{
                @include bgsize(cover);
                @include transform(scale(1.4));
                @include transition(transform 8s);
                background: no-repeat center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;
            }
            &.slide1 .slide_bg{background-image:url("../images/main/main_visual01.jpg");}
            &.slide2 .slide_bg{background-image:url("../images/main/main_visual02.jpg");}
            &.slide3 .slide_bg{background-image:url("../images/main/main_visual03.jpg");}

            strong,p{position: absolute;}
            strong{
                @include traDelay(1s);
                top:250px;left: 230px;font-size: 76px;letter-spacing: -2.5px;line-height: 100px;
            }
            p{
                @include traDelay(1.5s);
                top:535px;left: 480px;font-size: 20px;line-height: 40px;
            }

            &.swiper-slide-active .slide_bg{
                @include transform(scale(1.1));
            }
        }
    }
    .controller{
        position: absolute;bottom: 270px;left: 0;z-index: 10;width: 456px;height: 110px;background: #ffffff;     
        .slide_timer{
            position: absolute;top: 0;left: 0;width: 0%;height: 100%;background:#eee;
        &.on{animation:timer-ani 8s infinite;}
     } 
/*         @keyframes timer-ani{
            0%{width:0;}
            100%{width:100%;}
        } */

        .stop_play{
            @include bgsize(cover);@include translateY-50;
            position: absolute;top: 50%;right: 220px;z-index: 10;width: 20px;height: 21px;background: no-repeat center;
            &.stop{background-image: url("../images/main/pause_button.svg");}
            &.play{background-image: url("../images/main/play_button.svg");display: none;}
        }

        .swiper-pagination-fraction{
            @include translateY-50;
            bottom: auto;top:50%;left: auto;right:54px;width: 120px; color: #aaa;
            font-weight: 500;font-size: 14px;
            .swiper-pagination-current{
                color: $purple;margin-right: 20px;
                &::before{content: "0"}
            }
            .swiper-pagination-total{
                margin-left: 20px;
                &::before{content: "0"}
            }
        }

        .swiper-button-prev::after, .swiper-button-next::after{display: none;}
        .swiper-button-prev,.swiper-button-next{
            @include translateY-50;
            width: 19px;height: 20px;background:no-repeat center;display: block;
            top: 50%; margin-top: 0;z-index: 10;cursor: pointer;
        }
        .swiper-button-prev{left:auto;right: 190px;background-image: url("../images/main/prev_btn.svg");}
        .swiper-button-next{right: 20px;background-image: url("../images/main/next_btn.svg");}
    }
    .btn_more{
        position: absolute;z-index: 10;
        &.transparent{left: 210px;bottom: 120px;}
        &.purple{right: 280px;bottom: 120px;}
    }
}

#cnt2{
    @include borderbox;background: #fff;
    padding-top:vw-calc-pc(200);
    color: #000;    
    .state_bar{
        position: fixed;top: 23%;left: 14%;z-index: 0;width: 10%;height: 80vh;
        .round{
            @include radius(50%);
            display: inline-block;width: 18px;height: 18px;background:$purple; }
        .vertical_line{width: 2px;height: 100%;background:$purple;margin-left: 8px;margin-top: -2px;}
        ul li{
            position: absolute;left: -140px;width: 100px;font-size: vw-calc-pc(24);text-align: right;letter-spacing: 1px;
            &:first-of-type{top: 150px;}
            &:last-of-type{top: 420px;}
            &::after{content:"";position: absolute;top: -17px;right: 0;width: 50%;height: 2px;background:$purple;}
        }
    }
    .list_wrap{
        @include borderbox;
        @include transition(margin-top 0.3s ease-out);
        width: 100%;padding-left: 20%;padding-bottom: 250px;
        >div{
            strong{
                position: relative;z-index: 60;font-size:vw-calc-pc(60);font-weight: 800;color: #4d3074;
                &::before{
                    @include bgsize(cover);
                    content:"";position: absolute;top: -50px;left: -80px;z-index: -1;width: 201px;height: 193px;background:url("../images/main/sec2_tit_bg.png") no-repeat center;animation: box-rotate 50s infinite;
                }
            } 
            p{display: inline-block;}
        }
        @keyframes box-rotate{
            0%{
                @include transform(rotate(0));
            }
            100%{
                @include transform(rotate(360deg));
            }
        }

        .vision{
            margin-bottom: vw-calc-pc(300);
            strong::before{top: -60px;left: 20px;}
            p{position: relative;top: 170px;left: 30px;font-size:vw-calc-pc(60);font-weight: 500;line-height: vw-calc-pc(75);}
        }

        .mission{
           margin-top: 100px;margin-left: 240px;display: inline-block;
            ul {
                li{
                    position: relative;z-index: 10;width: 600px;margin-top: 100px;
                    &:nth-of-type(1){margin-left: 230px;}
                    &:nth-of-type(2){margin-left: 430px;}
                    &:nth-of-type(3){margin-left: 230px;}
                    &:nth-of-type(4){margin-left: 20px;}
                    &::before{content:"";position: absolute;width: 140px;height: 140px;font-family: NanumS,"맑은 고딕","Malgun Gothic",sans-serif;font-weight: 800;font-size: 150px;color: #c1a0d7;opacity: 0.3;letter-spacing: -10px;}
                    &:nth-of-type(1)::before{content:"1";top: -20px;left: -80px;}
                    &:nth-of-type(2)::before{content:"2020";top: -20px;left: -100px;}
                    &:nth-of-type(3)::before{content:"A";top: -20px;left: -60px;}
                    &:nth-of-type(4)::before{content:"∞";font-size: 250px;top: -70px;left: -70px;}
                    dl{
                        dt{font-size: vw-calc-pc(36);margin-bottom: 20px;font-weight: 500;}
                        dd{font-size: vw-calc-pc(22);font-weight: 300;line-height: 30px;}
                    }
                }
            }       
        }
    }
}

#cnt3{
    @include bgsize(cover);
    @include borderbox;
    width: 100%;height: 100vh;position: relative;z-index: 100;background: url("../images/main/sec3_bg.jpg") no-repeat center;padding: 150px 0 0 100px;overflow: hidden;
    h2,p{position: relative;left: 100px;z-index: 10;}
    h2{
        font-size: 50px;padding-top: 40px;margin-bottom: 30px;
        &::before{
            @include bgsize(cover);
            @include transform(rotate(90deg));
            content:"";position: absolute;z-index: -1;top: 0;left: -100px;width: 192px;height: 167px;background: url("../images/main/puzzle.png") no-repeat center;}
    }
    p{font-size: 18px;line-height: 26px;margin-bottom: 220px;}

    .solution_step{
        width: 80%;position: relative;left: -100px;
        .line{
            height: 2px;background: rgba(255, 255, 255,.2);overflow: hidden;position: relative;
            .glow_line{
                position: absolute;top: 0;left: -12%;z-index: 30;
                width: 12%;height:100%;
                background: #ffffff; /* Old browsers */
                background: -moz-linear-gradient(top,  #ffffff 0%, #43366d 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #ffffff 0%,#43366d 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #ffffff 0%,#43366d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                animation: glow-ani 7.8s  infinite;
            }
        }
        @keyframes glow-ani{
            0%{left:-12%;}
            100%{left: 112%;}
        }

        .step{
            li{
                position: absolute;top: 20px;z-index: 50;width: 70px;
                .circle{position: absolute;top: -33px;z-index: 100;width: 25px;height: 25px;}
                .circle div{position: absolute;left: 0;right: 0;margin: 0 auto;border-radius: 50%;background: #fff;}
                /* top, widht, height, animation */
                .circle .c1{top: 0%;width: 100%;height: 100%;background: #fff;
                animation: wave1 7.8s linear infinite none;}
                .circle .c2{top: 0;width:100%;height:100%;}

                /* .c1 */
                @keyframes wave1{
                0%{transform: scale(0);opacity: 1;}
                10%{transform: scale(3);opacity: 0;}
                100%{transform: scale(3);opacity: 0;}
                }
            }
            li:nth-of-type(1){
                left: 25%;
                .circle{
                    left:8px;
                    .c1{@include aniDelay(1s);}
                } 
            }
            li:nth-of-type(2){
                left: 45%;
                .circle{
                    left: 3px;
                    .c1{@include aniDelay(1.5s);}
                } 
            }
            li:nth-of-type(3){
                left: 62%;
                .circle{
                    left: 3px;
                    .c1{@include aniDelay(2s);}
                }
            }
            li:nth-of-type(4){
                left: 80%;
                .circle{
                    left: 14px;
                    .c1{@include aniDelay(2.7s);}
                } 
            }
        }
    }
    .btn_more{margin: 160px 0 0 50px;}
}
.sec45_wrap{width: 100%;overflow: hidden;}
#sec45{
    width: 200%;height: 100vh;position: relative;z-index: 100;
    &::after{content:"";display: block;clear: both;}
    section{float: left;position: relative;z-index: 100;width: 50%;height: 100vh;}
    #cnt4{
        @include borderbox;
        background: #fff;color: #000;padding: 120px 0 0 0px;overflow: hidden;
        #serviceTab{
            @include borderbox;height: 100%;position: relative;width: 1480px;
            .tablist{
                @include translateY-50;
                position: absolute;left: 60px;top: 50%;width: 140px;height: 180px;
                .tab{
                    @include transition(all .3s);
                    font-size: 18px;margin-bottom: 40px;cursor:pointer;overflow: hidden;text-indent: -16px;
                    span{position: relative;top: -2px;margin-right: 4px;font-size: 14px;font-weight: 700;color: #4d3074;}
                    &.active{text-indent: 0px;font-weight: 700;}
                }
            }
            .tabpanel{
                @include transition(all .4s);
                visibility:hidden;opacity: 0;position: absolute;left: 250px;top: 0;height: 100%;width: 100%;
                &.active{visibility:visible;opacity: 1;}
                >p:first-of-type{
                    font-size: 30px;color: #4d3074;font-weight: 600;letter-spacing: 2px;margin-bottom: 10px;
                    span{font-size: 46px;font-weight: 600;display: inline-block;margin-left: 5px;}
                }
                >strong{font-size: 60px;letter-spacing: -3px;}
                >p:last-of-type{font-size: 18px;margin-top: 10px;margin-bottom: 50px;}
                ul{ 
                    height: 100%;
                    li,li::after,strong::before,a{
                        @include transition(all .7s);
                    }
                    li{
                        @include borderbox;
                        @include bgsize(cover);
                        float: left;position: relative;width:vw-calc-pc(400);height:vw-calc-pc(500);background:no-repeat center;text-align: center;color: #ffffff;padding-top: vw-calc-pc(220);
                        &::after{content:"";position: absolute;top: 8px;left: 8px;width: vw-calc-pc(380);height:vw-calc-pc(480);border: 1px solid rgba(255, 255, 255,.6);opacity: 0;}
                        +li{margin-left: vw-calc-pc(40);}
                        strong{
                            &::before{content:"";position: absolute;top: -30px;left: calc(50% - 20px);width: 35px;height: 1px;background: #fff;}
                            display: inline-block;font-size: 24px;margin-bottom: 20px;position: relative;
                        }
                        p{margin-bottom: 30px;font-weight: 300;}
                        a{
                            display: inline-block;width: 100px;height: 100px;border: 1px solid #fff;line-height: 100px;font-size: 14px;background: transparent;position: relative;z-index: 10;overflow: hidden;display: none;opacity: 0;
                            span{position: relative;z-index: 1;}
                            &::after{
                                @include transition(all 1s);
                                @include transform(skewX(-45deg));
                                content:"";width: 250%;height: 250%;position: absolute;top: -170px;left: -170px;background: #4d3074;
                            }
                            &:hover::after,&:focus::after{top: -80px;left: -80px;}
                        }
                    }
                    li.on{
                        &::after{opacity: 1;}
                        padding-top:vw-calc-pc(140);
                        strong::before{opacity: 0;}
                        a{display: inline-block;opacity: 1;}
                    }
                } 
            }
            #tabpanel1 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_home1.jpg");}
            #tabpanel1 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_home2.jpg");}
            #tabpanel1 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_home3.jpg");}
            #tabpanel2 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_store1.jpg");}
            #tabpanel2 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_store2.jpg");}
            #tabpanel2 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_store3.jpg");}
            #tabpanel3 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_company1.jpg");}
            #tabpanel3 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_company2.jpg");}
            #tabpanel3 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_company3.jpg");}
        }
        .scroll_btn img{
            @include transform(rotate(-90deg));
        }
    
    }
    
    #cnt5{
        @include borderbox; @include bgsize(cover);
        background: url("../images/main/sec5_bg.jpg") no-repeat center;padding: 120px 0 0 80px;
       text-align: center;
       h2{
           @include bgsize(cover);display: inline-block;
           width: 382px;height: 138px;background:url("../images/main/cles_txt.png") no-repeat center;position: relative;top: 90px;
        }
        >p:first-of-type{position: relative;top: -100px;font-size: 35px;font-weight: 700;}
        >p:last-of-type{font-size: 20px;line-height: 28px;margin-top: 70px;}
        ul{
            text-align: center;
            li{ 
                position: relative;display: inline-block;width: 151px;height: 135px;margin: 60px 50px 80px;
                @include bgsize(cover);
                &::before{content:"";position: absolute;top: 0;left: 0;width: 100%;height: 100%; background: url("../images/main/cles_listbox.svg") no-repeat center;opacity: 0.7;}
                &::after{content:"";position: absolute;right: 28px;bottom: 16px;width: 50px;height: 1px;background: #fff;}
                span{position: absolute;bottom: 40px;right: 0;font-size: 20px;}
            }
        }
        >a{display: inline-block;text-align: left;}
    }
}

#cnt6{
    @include borderbox;
    position: relative;z-index: 100;background: #ffffff;
    >article{float: left;height: 100%;}
    @at-root #content #cnt6{height: 63vh;}
     #map{
        @include borderbox;padding-top: 0;width: 66%;
        .overlay_info {border-radius: 6px; margin-bottom: 12px; float:left;position: relative; z-index: 10;border: 1px solid #ccc; border-bottom: 2px solid #ddd;background-color:#fff;}
        .overlay_info:nth-of-type(n) {border:0; box-shadow: 0px 1px 2px #888;}
        .overlay_info a {display: block; background: #d95050; background: #d95050 url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png") no-repeat right 14px center; text-decoration: none; color: #fff; padding:12px 36px 12px 14px; font-size: 14px; border-radius: 6px 6px 0 0}
        .overlay_info a strong {background:url("../images/main/company_s1.png") no-repeat; padding-left: 27px;}
        .overlay_info .desc {padding:14px;position: relative; min-width: 190px; height: 56px}
        .overlay_info img {vertical-align: top;}
        .overlay_info .address {font-size: 12px; color: #333; position: absolute; left: 80px; right: 14px; top: 24px; white-space: normal}
        .overlay_info:after {content:'';position: absolute; margin-left: -11px; left: 50%; bottom: -12px; width: 22px; height: 12px; background:url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png") no-repeat 0 bottom;}
        } 
    .contact{
        @include borderbox;
        width: 34%;background: #43366d;padding: 130px 0 0 105px;
        h3{font-size: 50px;margin-bottom: 64px;}
        ul li{
            margin-bottom: 55px;
            &::after{content:"";display: block;clear: both;}
            >*{float: left;}
            >img{margin-right: 30px;}
            img{width: 30px;}
            .location_txt{
                p:first-of-type{line-height: 24px;margin-bottom: 25px;}
            }
            &:nth-of-type(2) p{font-size: 24px;letter-spacing: 1px;}
            &:nth-of-type(3){
                a{display: inline-block;margin-right: 25px;}
                a:nth-of-type(1) img{width: 32px;height: 31px;}
                a:nth-of-type(2) img{width: 32px;height: 30px;}
                a:nth-of-type(3) img{width: 32px;height: 27px;margin-top: 2px;}
            } 
        }
    }
}

@media screen and (max-width:1366px){
    html, body, #content {
        height: auto;overflow: auto; 
    }
    #content .tg{height: auto;}
    .scroll_btn{display: none;}

    #cnt1{
        height: 100vh;
        .swiper-wrapper{
            .swiper-slide{     
                strong{bottom:520px;top:auto;left: vw-calc-tablet(80);font-size: vw-calc-tablet(75);line-height:  vw-calc-tablet(84);}
                p{top:auto;bottom:425px;left: vw-calc-tablet(80);line-height: vw-calc-tablet(40);font-size: vw-calc-tablet(25);}
            }
        }
        .controller{
            width:vw-calc-tablet(456);height: vw-calc-tablet(110);bottom: 260px;min-width: 340px;min-height: 100px;
        }
        .btn_more{
            bottom: 50px;
            &.transparent{left: vw-calc-tablet(30);}
            &.purple{right:vw-calc-tablet(120);}
        }
    }

    #cnt2{
        padding-top:vw-calc-tablet(150);height: auto;  
        .state_bar{display: none;}
        .list_wrap{
            @include borderbox;
            padding-left: 8%;padding-bottom: 250px;
            >div{
                strong{
                    font-size:vw-calc-tablet(60);
                    &::before{content:"";position: absolute;z-index: -1;width: vw-calc-tablet(201);height: vw-calc-tablet(193);background:url("../images/main/sec2_tit_bg.png") no-repeat center;}
                } 
                p{display: inline-block;}
            }
            .vision{
                margin-bottom:vw-calc-tablet(300);
                strong::before{top: -60px;left:vw-calc-tablet(20);}
                p{position: relative;top:vw-calc-tablet(170);left: vw-calc-tablet(30);font-size: vw-calc-tablet(60);font-weight: 500;line-height: vw-calc-tablet(75);}
            }
    
            .mission{
            margin-top: vw-calc-tablet(20);margin-left: vw-calc-tablet(200);
                ul {
                    li{
                        width: vw-calc-tablet(600);margin-top: vw-calc-tablet(150);
                        &:nth-of-type(1){margin-left: vw-calc-tablet(100);}
                        &:nth-of-type(2){margin-left: vw-calc-tablet(280);}
                        &:nth-of-type(3){margin-left: vw-calc-tablet(100);}
                        &:nth-of-type(4){margin-left: vw-calc-tablet(-10);margin-top: vw-calc-tablet(180);}
                        &::before{content:"";position: absolute;width: 140px;height: 140px;font-family: NanumS,"맑은 고딕","Malgun Gothic",sans-serif;font-weight: 800;font-size: 150px;color: #c1a0d7;opacity: 0.3;letter-spacing: -10px;}
                        &:nth-of-type(1)::before{content:"1";top:vw-calc-tablet(-20);left: vw-calc-tablet(-80);}
                        &:nth-of-type(2)::before{content:"2020";top: vw-calc-tablet(-20);left: vw-calc-tablet(-100);}
                        &:nth-of-type(3)::before{content:"A";top: vw-calc-tablet(-20);left: vw-calc-tablet(-60);}
                        &:nth-of-type(4)::before{content:"∞";font-size:vw-calc-tablet(250);top: vw-calc-tablet(-70);left:vw-calc-tablet(-70);}
                        dl{
                            dt{font-size: vw-calc-tablet(36);margin-bottom:vw-calc-tablet(20);}
                            dd{font-size: vw-calc-tablet(22);line-height: vw-calc-tablet(30);}
                        }
                    }
                }       
            }
        }
    }

    #cnt3{
        height: 100vh;min-height: 600px;padding: vw-calc-tablet(80) 0 0 vw-calc-tablet(100);
        h2,p{left: vw-calc-tablet(100);}
        h2{
            font-size: vw-calc-tablet(50);padding-top: vw-calc-tablet(40);margin-bottom:vw-calc-tablet(20);
            &::before{left: -100px;width: vw-calc-tablet(150);height: vw-calc-tablet(125);}
        }
        p{margin-bottom: vw-calc-tablet(120);}
    
        .solution_step{
            width: 80%;position: absolute;left: -100px;top:55%;
    
            .step{
                li{
                    top: 20px;width: 70px;
                    .circle{top: -25px;width: 15px;height: 15px;}
                }
            }
        }
        .btn_more{
            height:50px;line-height: 50px;margin: 0;
            position: absolute;left: vw-calc-tablet(190);bottom:vw-calc-tablet(80);
            &.transparent{width:vw-calc-tablet(200);padding-left:0;background: none;
                border: 2px solid #fff;text-align: center;
                .btn_arrow{right: 40px;background: none;} 
            }
        }   
    }

    #sec45{
        width: 100%;height:auto;
        section{float: none;position: relative;width: 100%;height: auto;}
        #cnt4{
            padding: 100px 0 220px 0;
            #serviceTab{
                @include borderbox;width: 100%;height: 100%;
                .tablist{
                    @include translateX-50;
                    position: absolute;left: 50%;top: auto;bottom:-120px;width: 400px;height: 30px;text-align: center;
                    .tab{
                        @include transition(all .3s);
                        height: 100%;display: inline-block;position: relative;
                        font-size: 18px;margin-bottom: 40px;cursor:pointer;overflow: visible;text-indent: 0px;
                        span{position: relative;top: -2px;margin-right: 4px;font-size: 14px;font-weight: 700;color: #4d3074;display: none;}
                        &::after{
                            @include radius(50%);
                            content:"";position: absolute;top: -14px;left: calc(50% - 3.5px);width: 7px;height: 7px;background: #4d3074;display: none;
                        }
                        &.active{
                            font-weight: 700;
                            &::after{display: block;}
                        }
                        +.tab{margin-left: 30px;}
                    }
                }
                .tabpanel{
                    display: none;position: relative;left: auto;top: 0;width:vw-calc-tablet(1037);height: 100%;margin: 0 auto;
                    &.active{display: block;}
                    >p:first-of-type{
                        font-size: 30px;color: #4d3074;font-weight: 600;letter-spacing: 2px;margin-bottom: 10px;
                        span{font-size: 46px;font-weight: 600;display: inline-block;margin-left: 5px;}
                    }
                    >strong{font-size: 60px;letter-spacing: -3px;}
                    >p:last-of-type{font-size: 18px;margin-top: 10px;margin-bottom: 50px;}
                    ul{ 
                        &::after{content:"";display: block;clear: both;}
                        li,li::after,strong::before,a{
                            @include transition(all .7s);
                        }
                        li{
                            @include borderbox;
                            @include bgsize(cover);
                            float: left;position: relative;width:vw-calc-tablet(322);height:vw-calc-tablet(404);background:no-repeat center;text-align: center;color: #ffffff;padding-top: 100px;
                            &::after{content:"";position: absolute;top:vw-calc-tablet(5);left:vw-calc-tablet(5);width:vw-calc-tablet(312);height:vw-calc-tablet(394);border: 1px solid rgba(255, 255, 255,.6);opacity: 1;}
                            +li{margin-left: vw-calc-tablet(35);}
                            strong{
                                &::before{content:"";position: absolute;top: -30px;left: calc(50% - 20px);width: 35px;height: 1px;background: #fff;}
                                display: inline-block;font-size: 24px;margin-bottom: 20px;position: relative;
                            }
                            p{margin-bottom: 30px;font-weight: 300;}
                            a{
                                display: inline-block;width: 100px;height: 100px;border: 1px solid #fff;line-height: 100px;font-size: 14px;background: transparent;position: relative;z-index: 10;overflow: hidden;display:inline-block;opacity: 1;
                                span{position: relative;z-index: 1;}
                                &::after{
                                    @include transition(all 1s);
                                    @include transform(skewX(-45deg));
                                    content:"";width: 250%;height: 250%;position: absolute;top: -170px;left: -170px;background: #4d3074;
                                }
                                &:hover::after,&:focus::after{top: -80px;left: -80px;}
                            }
                        }
                        li.on{
                            &::after{opacity: 1;}
                            padding-top: 100px;
                            strong::before{opacity: 0;}
                            a{display: inline-block;opacity: 1;}
                        }
                    } 
                }
                #tabpanel1 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_home1.jpg");}
                #tabpanel1 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_home2.jpg");}
                #tabpanel1 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_home3.jpg");}
                #tabpanel2 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_store1.jpg");}
                #tabpanel2 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_store2.jpg");}
                #tabpanel2 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_store3.jpg");}
                #tabpanel3 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_company1.jpg");}
                #tabpanel3 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_company2.jpg");}
                #tabpanel3 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_company3.jpg");}
            }
        }
        
        #cnt5{
            @include borderbox; @include bgsize(cover);
            background: url("../images/main/sec5_bg.jpg") no-repeat center;padding: 100px 0;
           text-align: center;
           h2{
               @include bgsize(cover);display: inline-block;
               width: 382px;height: 138px;background:url("../images/main/cles_txt.png") no-repeat center;position: relative;top: 90px;
            }
            >p:first-of-type{position: relative;top: -100px;font-size: 35px;font-weight: 700;}
            >p:last-of-type{font-size: 20px;line-height: 28px;margin-top: 70px;}
            ul{
                text-align: center;
                li{ 
                    position: relative;display: inline-block;width: 151px;height: 135px;margin: 60px 20px 80px;
                    @include bgsize(cover);
                    &::before{content:"";position: absolute;top: 0;left: 0;width: 100%;height: 100%; background: url("../images/main/cles_listbox.svg") no-repeat center;opacity: 0.7;}
                    &::after{content:"";position: absolute;right: 28px;bottom: 16px;width: 50px;height: 1px;background: #fff;}
                    span{position: absolute;bottom: 40px;right: 0;font-size: 20px;}
                }
            }
            >a{display: inline-block;text-align: left;}
        }
    }
    #cnt6{
        @include borderbox;
        height: 63vh;position: relative;z-index: 100;background: #ffffff;max-height:480px;
        >article{float: left;height: 100%;}
         #map{
            @include borderbox;width: 55%;height: 100%;
            .overlay_info {border-radius: 6px; margin-bottom: 12px; float:left;position: relative; z-index: 10;border: 1px solid #ccc; border-bottom: 2px solid #ddd;background-color:#fff;}
            .overlay_info:nth-of-type(n) {border:0; box-shadow: 0px 1px 2px #888;}
            .overlay_info a {display: block; background: #d95050; background: #d95050 url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png") no-repeat right 14px center; text-decoration: none; color: #fff; padding:12px 36px 12px 14px; font-size: 14px; border-radius: 6px 6px 0 0}
            .overlay_info a strong {background:url("../images/main/company_s1.png") no-repeat; padding-left: 27px;}
            .overlay_info .desc {padding:14px;position: relative; min-width: 190px; height: 56px}
            .overlay_info img {vertical-align: top;}
            .overlay_info .address {font-size: 12px; color: #333; position: absolute; left: 80px; right: 14px; top: 24px; white-space: normal}
            .overlay_info:after {content:'';position: absolute; margin-left: -11px; left: 50%; bottom: -12px; width: 22px; height: 12px; background:url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png") no-repeat 0 bottom;}
          } 
        .contact{
            @include borderbox;
            width: 45%;background: #43366d;padding: vw-calc-tablet(70) vw-calc-tablet(50) vw-calc-tablet(40);
            h3{font-size: 50px;margin-bottom: vw-calc-tablet(40)}
            ul li{
                margin-bottom: vw-calc-tablet(35);
                >*{float: left;}
                >img{margin-right: vw-calc-tablet(30)}
                img{width: 30px;}
                .location_txt{
                    p:first-of-type{line-height:vw-calc-tablet(24);margin-bottom:vw-calc-tablet(25)}
                }
                &:nth-of-type(2) p{font-size:vw-calc-tablet(24);letter-spacing: 1px;}
                &:nth-of-type(3){
                    a{display: inline-block;margin-right: vw-calc-tablet(25)}
                    a:nth-of-type(1) img{width: vw-calc-tablet(32);height:  vw-calc-tablet(31);}
                    a:nth-of-type(2) img{width: vw-calc-tablet(32);height:  vw-calc-tablet(30);}
                    a:nth-of-type(3) img{width: vw-calc-tablet(32);height: vw-calc-tablet(27);margin-top: vw-calc-tablet(2);}
                } 
            }
        }
    }
}


@media screen and (max-width:768px){
    #cnt1{
        height: 100vh !important;position: relative;z-index: 100;
        .swiper-wrapper{
            
            .swiper-slide{
                width: 100%;height: 100vh;
                .slide_bg{
                    @include bgsize(cover);
                    @include transform(scale(1.4));
                    @include transition(transform 8s);
                    background: no-repeat center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;
                }
                &.slide1 .slide_bg{background-image:url("../images/main/main_visual01.jpg");}
                &.slide2 .slide_bg{background-image:url("../images/main/main_visual02.jpg");}
                &.slide3 .slide_bg{background-image:url("../images/main/main_visual03.jpg");}
    
                strong,p{position: absolute;}
                strong{
                    @include traDelay(1s);
                    top:vw-calc-mobile(100);left: vw-calc-mobile(20);font-size:vw-calc-mobile(38);letter-spacing: -2.5px;line-height: vw-calc-mobile(45);
                }
                p{
                    @include traDelay(1.5s);
                    top:vw-calc-mobile(200);left: vw-calc-mobile(20);font-size:vw-calc-mobile(16);line-height: vw-calc-mobile(24);
                }
    
                &.swiper-slide-active .slide_bg{
                    @include transform(scale(1.1));
                }
            }
        }
        .controller{
            position: absolute;bottom:auto;top:vw-calc-mobile(300);left: 0;z-index: 10;width:vw-calc-mobile(130);height:vw-calc-mobile(80);background: #ffffff;min-width: vw-calc-mobile(280);min-height: vw-calc-mobile(80);  
            .slide_timer{
                position: absolute;top: 0;left: 0;width: 0%;height: 100%;background:#eee;
            &.on{animation:timer-ani 8s infinite;}
         } 
    
            .stop_play{
                @include bgsize(cover);@include translateY-50;
                position: absolute;top: 50%;right: 220px;z-index: 10;width: 20px;height: 21px;background: no-repeat center;
                &.stop{background-image: url("../images/main/pause_button.svg");}
                &.play{background-image: url("../images/main/play_button.svg");display: none;}
            }
    
            .swiper-pagination-fraction{
                @include translateY-50;
                bottom: auto;top:50%;left: auto;right:54px;width: 120px; color: #aaa;
                font-weight: 500;font-size: 14px;
                .swiper-pagination-current{
                    color: $purple;margin-right: 20px;
                    &::before{content: "0"}
                }
                .swiper-pagination-total{
                    margin-left: 20px;
                    &::before{content: "0"}
                }
            }
    
            .swiper-button-prev::after, .swiper-button-next::after{display: none;}
            .swiper-button-prev,.swiper-button-next{
                @include translateY-50;
                width: 19px;height: 20px;background:no-repeat center;display: block;
                top: 50%; margin-top: 0;z-index: 10;cursor: pointer;
            }
            .swiper-button-prev{left:auto;right: 190px;background-image: url("../images/main/prev_btn.svg");}
            .swiper-button-next{right: 20px;background-image: url("../images/main/next_btn.svg");}
        }
        .btn_more{
            @include radius(5px);@include borderbox;
            position: absolute;z-index: 10;bottom:vw-calc-mobile(50) !important;background: none;border:2px solid #fff;width: 45%;max-width: 250px;text-align: center;padding-left: 0;font-size:16px;height: 56px;line-height: 52px;
            &.transparent{left: vw-calc-mobile(15);}
            &.purple{
                right: vw-calc-mobile(15);
                &::before,&::after{background: none;}
            }
            .btn_arrow{display: none;}
        }
    }

    #cnt2{
        @include borderbox;
        padding-top:vw-calc-mobile(60);height:auto;
        .list_wrap{
            @include borderbox;
            padding-left: vw-calc-mobile(20);padding-bottom: vw-calc-mobile(60);
            >div{
                width: 100%;
                strong{
                    font-size:vw-calc-mobile(40);
                    &::before{
                        content:"";position: absolute;z-index: -1;width: vw-calc-mobile(105);height: vw-calc-mobile(98);background:url("../images/main/sec2_tit_bg.png") no-repeat center;top:vw-calc-mobile(-20);left:vw-calc-mobile(80);
                    }
                } 
                p{display: block;}
            }
            .vision{
                margin-bottom:vw-calc-mobile(70);
                strong::before{top:-20px;left:vw-calc-mobile(80);}
                p{position: static;font-size: vw-calc-tablet(60);font-weight: 500;line-height: vw-calc-tablet(75);margin-top: 30px;}
            }
    
            .mission{
            margin-top: 0;margin-left: 0;
                strong{display: inline-block;margin-bottom:vw-calc-mobile(120);}
                ul {
                    li{
                        width: vw-calc-mobile(160);margin-top: 0;float: left;position: relative;
                        &:nth-of-type(1){margin-left: 0;}
                        &:nth-of-type(2){margin-left: 0;}
                        &:nth-of-type(3){margin-left: 0;}
                        &:nth-of-type(4){margin-left: 0;margin-top: 0;}
                        &:nth-of-type(n+3){margin-top: vw-calc-mobile(100);}
                        &::before{left:0;top:vw-calc-mobile(-80);width: vw-calc-mobile(100);height: vw-calc-mobile(100);font-size:vw-calc-mobile(60);letter-spacing:vw-calc-mobile(-10);}
                        &:nth-of-type(1)::before{content:"1";left:0;top:vw-calc-mobile(-60);}
                        &:nth-of-type(2)::before{content:"2020";left:0;top:vw-calc-mobile(-60);}
                        &:nth-of-type(3)::before{content:"A";left:0;top:vw-calc-mobile(-60);}
                        &:nth-of-type(4)::before{content:"∞";font-size: vw-calc-mobile(140);left:0;top:vw-calc-mobile(-110);}
                        dl{
                            dt{font-size: vw-calc-mobile(14);margin-bottom:vw-calc-tablet(20);}
                            dd{font-size: vw-calc-tablet(22);line-height: vw-calc-tablet(30);display: none;}
                        }
                    }
                }       
            }
        }
    }
    #cnt3{
        height: 100vh !important;min-height: auto;padding: vw-calc-mobile(100) 0 0 vw-calc-mobile(20);
        h2,p{left: vw-calc-mobile(100);left: 0;}
        h2{
            font-size: vw-calc-mobile(34);padding-top: vw-calc-mobile(40);margin-bottom:vw-calc-mobile(15);
            &::before{left: 0;width: vw-calc-mobile(100);height: vw-calc-mobile(85);}
        }
        p{margin-bottom: vw-calc-mobile(120);font-size: vw-calc-mobile(14);line-height:vw-calc-mobile(20);}
    
        .solution_step{
            width: 130%;position: absolute;left: -100px;top:55%;
    
            .step{
                li{
                    top: 20px;width: 70px;
                    .circle{top: -25px;width: 12px;height: 12px;}
                }
                li:nth-of-type(1){
                    left: 25%;
                    .circle{
                        left:14px;
                        .c1{@include aniDelay(1s);}
                    } 
                }
                li:nth-of-type(2){
                    left: 45%;
                    .circle{
                        left: 8px;
                        .c1{@include aniDelay(1.5s);}
                    } 
                }
                li:nth-of-type(3){
                    left: 62%;
                    .circle{
                        left: 9px;
                        .c1{@include aniDelay(2s);}
                    }
                }
                li:nth-of-type(4){
                    left: 80%;
                    .circle{
                        left: px;
                        .c1{@include aniDelay(2.7s);}
                    } 
                }
            }
        }
        .btn_more{
            @include radius(5px);@include borderbox;
            position: absolute;z-index: 10;bottom:vw-calc-mobile(80) !important;background: none;border:2px solid #fff;max-width: 250px;height: 56px;line-height: 52px;text-align: center;padding-left: 0;margin: 0;
            left:vw-calc-mobile(20);
            &.transparent{padding-left:0;background: none;
                border: 2px solid #fff;text-align: center;width: 45%;
                .btn_arrow{right: 40px;background: none;} 
            }
        }   
    }

    #sec45{
        width: 100%;height:auto;
        section{float: none;position: relative;width: 100%;height: auto;}
        #cnt4{
            padding: vw-calc-mobile(40) 0 vw-calc-mobile(150) 0;
            #serviceTab{
                @include borderbox;width: 100%;height: 100%;
                .tablist{
                    @include translateX-50;
                    position: absolute;left: 50%;top: auto;bottom:vw-calc-mobile(-100);width:vw-calc-mobile(400);height:vw-calc-mobile(30);
                    .tab{
                        @include transition(all .3s);
                        font-size: vw-calc-mobile(18);margin-bottom:vw-calc-mobile(40);
                        span{position: relative;top: vw-calc-mobile(-2);margin-right: vw-calc-mobile(4);font-size:vw-calc-mobile(14);display: none;}
                        &::after{
                            content:"";position: absolute;top: -14px;left: calc(50% - 3.5px);width: 7px;height: 7px;background: #4d3074;display: none;
                        }
                        &.active{
                            font-weight: 700;
                            &::after{display: block;}
                        }
                        +.tab{margin-left: 30px;}
                    }
                }
                .tabpanel{
                    display: none;position: relative;left: auto;top: 0;padding-left: 20px;width:vw-calc-mobile(1037);
                    &.active{display: block;}
                    >p:first-of-type{
                        font-size: vw-calc-mobile(20);letter-spacing: vw-calc-mobile(2);margin-bottom:vw-calc-mobile(10);
                        span{font-size:vw-calc-mobile(30);margin-left: vw-calc-mobile(5);}
                    }
                    >strong{font-size:vw-calc-mobile(38);letter-spacing: vw-calc-mobile(-3);}
                    >p:last-of-type{font-size: vw-calc-mobile(14);margin-top: vw-calc-mobile(10);margin-bottom: vw-calc-mobile(30);}
                    .swiper_box{overflow-x:auto;width: 90vw;
                        -ms-overflow-style: none; // IE에서 스크롤바 감춤
                        &::-webkit-scrollbar { 
                          display: none !important; // 윈도우 크롬 등
                        }
                    }
                    ul{ 
                        width: vw-calc-mobile(646);
                        &::after{content:"";display: block;clear: both;}
                        li,li::after,strong::before,a{
                            @include transition(all .7s);
                        }
                        li{
                            @include borderbox;
                            @include bgsize(cover);
                            float: left;position: relative;width:vw-calc-mobile(192);height:vw-calc-mobile(264);background:no-repeat center;text-align: center;color: #ffffff;padding-top: vw-calc-mobile(70);
                            &::after{content:"";position: absolute;top:vw-calc-mobile(5);left:vw-calc-mobile(5);width:vw-calc-mobile(182);height:vw-calc-mobile(254);border: 1px solid rgba(255, 255, 255,.6);opacity: 1;}
                            +li{margin-left: vw-calc-mobile(35);}
                            strong{
                                &::before{content:"";position: absolute;top: vw-calc-mobile(-20);left: calc(50% - #{vw-calc-mobile(20)});width: vw-calc-mobile(35);height: 1px;background: #fff;}
                                display: inline-block;font-size:vw-calc-mobile(24);margin-bottom:vw-calc-mobile(20);
                            }
                            p{margin-bottom: vw-calc-mobile(30);font-size:vw-calc-mobile(12);}
                            a{
                                display: inline-block;width: vw-calc-mobile(100);height:vw-calc-mobile(50);border: 1px solid rgba(255,255,255,.5);line-height:vw-calc-mobile(50);font-size:vw-calc-mobile(14);background:#4d3074;font-weight: 300;
                                span{position: relative;z-index: 1;}
                                &::after{display: none;}
                                &:hover::after,&:focus::after{top: -80px;left: -80px;}
                            }
                        }
                        li.on{
                            &::after{opacity: 1;}
                            padding-top: 100px;
                            strong::before{opacity: 0;}
                            a{display: inline-block;opacity: 1;}
                        }
                    } 
                }
                #tabpanel1 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_home1.jpg");}
                #tabpanel1 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_home2.jpg");}
                #tabpanel1 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_home3.jpg");}
                #tabpanel2 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_store1.jpg");}
                #tabpanel2 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_store2.jpg");}
                #tabpanel2 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_store3.jpg");}
                #tabpanel3 ul li:nth-of-type(1){background-image: url("../images/main/sec4_solution_company1.jpg");}
                #tabpanel3 ul li:nth-of-type(2){background-image: url("../images/main/sec4_solution_company2.jpg");}
                #tabpanel3 ul li:nth-of-type(3){background-image: url("../images/main/sec4_solution_company3.jpg");}
            }
        }
        
        #cnt5{
            background: url("../images/main/sec5_bg.jpg") no-repeat center;padding: vw-calc-mobile(70) 0 vw-calc-mobile(30) 0;
            position: relative;height:auto;
           h2{
               width:  vw-calc-mobile(280);height: vw-calc-mobile(98);top:auto;
            }
            >p:first-of-type{position: absolute;top: vw-calc-mobile(40);left: 0;width: 100%;text-align: center;font-size: vw-calc-mobile(24);}
            >p:last-of-type{font-size:vw-calc-mobile(14);line-height: vw-calc-mobile(24);margin-top: auto;margin-bottom: 30px;margin-top: 10px;}
            ul{
                text-align: center;
                li{ 
                    position: relative;display: inline-block;width: vw-calc-mobile(100);height:vw-calc-mobile(90);margin: 15px 25px;
                    @include bgsize(cover);
                    &::before{content:"";position: absolute;top: 0;left: 0;width: 100%;height: 100%; background: url("../images/main/cles_listbox.svg") no-repeat center;opacity: 0.7;}
                    &::after{content:"";position: absolute;right: 0px;bottom:  vw-calc-mobile(10);width: vw-calc-mobile(50);height:  vw-calc-mobile(1);background: #fff;}
                    span{position: absolute;bottom: vw-calc-mobile(20);right: 0;font-size: vw-calc-mobile(16);}
                }
            }
            >.btn_more{
                @include radius(5px);@include borderbox;
                position: static;z-index: 10;background: none;border:2px solid #fff;max-width: 280px;height: 56px;line-height: 52px;text-align: center;padding-left: 0;margin: 0;margin-top: 30px;
                left:27.5%;
                &.transparent{padding-left:0;background: none;
                    border: 2px solid #fff;text-align: center;width: 45%;
                    .btn_arrow{right: 40px;background: none;} 
                }
            }  
        }
    }
    #cnt6{
        @include borderbox;
       position: relative;z-index: 100;background: #ffffff;max-height:none;
        @at-root #content #cnt6{ height: auto;}
        >article{float: none;height:auto;}
         #map{
            @include borderbox;padding-top:0;width: 100%;height: 40vh;
            .overlay_info {border-radius: 6px; margin-bottom: 12px; float:left;position: relative; z-index: 10;border: 1px solid #ccc; border-bottom: 2px solid #ddd;background-color:#fff;}
            .overlay_info:nth-of-type(n) {border:0; box-shadow: 0px 1px 2px #888;}
            .overlay_info a {display: block; background: #d95050; background: #d95050 url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png") no-repeat right 14px center; text-decoration: none; color: #fff; padding:12px 36px 12px 14px; font-size: 14px; border-radius: 6px 6px 0 0}
            .overlay_info a strong {background:url("../images/main/company_s1.png") no-repeat; padding-left: 27px;}
            .overlay_info .desc {padding:14px;position: relative; min-width: 190px; height: 56px}
            .overlay_info img {vertical-align: top;}
            .overlay_info .address {font-size: 12px; color: #333; position: absolute; left: 80px; right: 14px; top: 24px; white-space: normal}
            .overlay_info:after {content:'';position: absolute; margin-left: -11px; left: 50%; bottom: -12px; width: 22px; height: 12px; background:url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png") no-repeat 0 bottom;}
          } 
        .contact{
            @include borderbox;height: 60vh;
            width: 100%;background: #43366d;padding: vw-calc-mobile(30) vw-calc-mobile(20) vw-calc-mobile(40);
            h3{font-size: 50px;margin-bottom: vw-calc-mobile(20);}
            ul li{
                p{position: relative;top:vw-calc-mobile(-4);}
                margin-bottom: vw-calc-mobile(35);
                >*{float: left;}
                >img{margin-right: vw-calc-mobile(20);}
                img{width: 30px;}
                .location_txt{
                    p{font-size:vw-calc-mobile(14);}
                    p:first-of-type{line-height:vw-calc-mobile(24);margin-bottom:vw-calc-mobile(15);}
                }
                &:nth-of-type(2) p{font-size:vw-calc-mobile(20);letter-spacing: 1px;}
                &:nth-of-type(3){
                    a{display: inline-block;margin-right: vw-calc-mobile(25);}
                    a:nth-of-type(1) img{width: vw-calc-mobile(28);height:  vw-calc-mobile(27);}
                    a:nth-of-type(2) img{width: vw-calc-mobile(28);height:  vw-calc-mobile(26);}
                    a:nth-of-type(3) img{width: vw-calc-mobile(28);height: vw-calc-mobile(24);margin-top: vw-calc-mobile(2);}
                } 
            }
        }
    }


}
